
.up-coming-event .card img {
    max-height: 200px;
    /*width: 30%; 
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    margin-left: 20px; */
}

.up-coming-event .card-title {
    /*font-weight: bold; */
}
.up-coming-event .card-img-top {
   /* height: 204px;
    width: 108px;
    width: 100%;*/
}

.up-coming-event .e-font-style {
    font-family: sans-serif;
}
.up-coming-event-info {
    padding: 0;
    width: 160px;
    display: inline-block;
}
.activity-card {
    padding: 25px;
}
.activity-card .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.col-md-6 {
    padding-right: 0;
}
.details_link {
    border: 1px solid black;
    border-radius: 50%;
    padding-right: 5px;
    padding-bottom: 3px;    
    padding-left: 8px;
    padding-top: 0px;
}

.modal_close_icon {
    border: 1px solid black;
    border-radius: 50%;
    padding-right: 9px;
    padding-bottom: 1px;
    padding-left: 9px;
    padding-top: 0px;
    font-size: 26px;
    background-color: #000;
    cursor: pointer;    
    color: #FFF;
}