.login-section-inner-wrapper-button {
    padding: 4em 3em;
}

.btn-login {
    width: 100%;
    height: 50px;
    margin-top: 10%;
    font-size: 14px;
}

.btn-warning,
.btn-warning:hover {
    background-color: #ffbf00;
    border-color: #ffbf00;
    color: #000;
}

@media only screen and (max-width: 767px) {
    .login-section-inner-wrapper-button {
        padding: 4em 3em;
    }
    .btn-login {
        margin-top: 0;
    }
}