.profile-font-style {
    font-family: sans-serif;
}
/* Search filter*/

.select-wrap {
    border: 1px solid #777;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 5px 5px;
    background-color: #fff;
    border: 2px solid #CCCCCC;
}
.select-wrap label {
    font-size: 12px;    
    color: #777;
    padding: 5px 15px 0px;
    margin-bottom: 0px;
}
.select-wrap select {
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 0px;
    padding: 0px 12px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}
.prospect-new-btn {
    background-color: #DAF2F0;
    padding: 15px 30px;
    color: #007885;
    border: none;
}

/* List Style */
.more-option-icon::after{
    content: '\2807';
    font-size: 30px;
    border-color: 1px solid #707070; 
}
.more-option-icon1:after {
    content: '\2807';
    font-size: 1em;
    background: #2d3446;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    color:white;
  }

.border-less thead th {
    border: none;
    font-size: 12px;
    font-weight: normal;
    color: #767676;
    padding-bottom: 0;
}
.prospect-tbl tbody td {
    vertical-align: middle;
    text-align: left;
    border: 1px solid #CCC;
}
.prospect-tbl tbody td {    
   border-left: none;
   border-right: none;
}
.prospect-tbl tbody td:first-child{
    border-left: 1px solid #CCC;
}
.prospect-tbl tbody td:last-child{
    border-right: 1px solid #CCC;
}
.prospect-tbl{
    border-collapse: separate;
    border-spacing: 0 1em;
}
.prospect-tbl .name-icon {
    background-color: #ececec;
    padding: 10px;
    margin-right: 8px;
}


/* Model*/

.modal-dialog {
    max-width: 90%;   
    margin: 0 auto;
    padding: 0;
    background-color: #000;
}  
.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
.e-font-style {
    font-family: sans-serif;
}
.modal_close_icon {
    border: 1px solid black;
    border-radius: 50%;
    padding-right: 9px;
    padding-bottom: 1px;
    padding-left: 9px;
    padding-top: 0px;
    font-size: 26px;
    background-color: #000;
    cursor: pointer;    
    color: #FFF;
}

.nav-tabs a {
    color: #676767;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:link {
    border: 0;
}

.nav-tabs .nav-link:hover {
    border-bottom: 4px solid #FFBF00;
}

.nav-tabs .nav-link.active {
    color: #000;
    border: 0;
    border-bottom: 4px solid #FFBF00;
}

.nav-tabs>li.nav-item:first-child {
    margin-left: 40px;
    color: #000;
    border: 0;
}

.follow-up-profile li{
    padding-bottom: 20px;
}
.register-now {
    padding-left: 30px;
    color: #0DA193;
    text-decoration: underline;
}
.name-icon {
    background-color: #ececec;
    padding: 6px 10px 5px 12px;
    margin-right: 8px;
}
.up-coming-event-info {
    padding: 0;
    width: 160px;
    display: inline-block;
}

/* TO DO list */
.todo-timeline .v-timeline {
    margin-top: 20px;
}
.todo-timeline .v-timeline ul {
    position: relative;
}
.todo-timeline .v-timeline li {
    list-style-type: none;
    padding: 0 0 20px;
    position: relative;
    overflow: hidden;
}
.todo-timeline .v-timeline li .top-bold-label {
    font-size: 1rem;
    font-weight: bold;
}
.todo-timeline .v-timeline li .mid-paragraph {
    font-size: 1rem;
}
.todo-timeline .v-timeline li .bottom-link {
    color: #0fa3b1;
    font-weight: bold;
    font-size: 1.4rem;
}
.todo-timeline .v-timeline .pl-30 {
    padding-left: 50px;
}
.todo-timeline .v-timeline .v-timeline-icon:before {
    content: ' ';
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    border-radius: 50%;
    background: #000;
}
.todo-timeline .v-timeline .v-timeline-icon:after {
    content: ' ';
    border-left: 2px dashed #000;
    display: inline-block;
    position: absolute;
    left: 9px;
    height: 400px;
    z-index: 400;
    top: 22px;
}
.last-child:after {
    border-left: none !important;     
}
.question-container {
    font-size: 15px;
}
.question-container .question {
    margin-bottom: 1px;
}