<div class="row profile-font-style">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>    
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
        <div class="select-wrap">
            <label>Profile Status</label>
            <select>
                <option value="0">All</option>
                <option value="1">Fresh graduates</option>
                <option value="2">Professional</option>
                <option value="3">Self employed</option>
                <option value="4">Working Adult</option>                  
            </select>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
        <div class="select-wrap">
            <label>Attended BYB</label>
            <select>
                <option value="0">All</option>
                <option value="1">ELIB</option>
                <option value="2">EFTB</option>
                <option value="3">EGIB</option>
                <option value="4">EGTB</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
        <div class="select-wrap">
            <label>Already Met</label>
            <select>
                <option value="0">All</option>
                <option value="1">ELIB</option>
                <option value="2">EFTB</option>
                <option value="3">EGIB</option>
                <option value="4">EGTB</option>
            </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
        <div class="select-wrap">
            <label>Sort by</label>
            <select>
                <option value="1">Latest</option>
                <option value="0">Oldest</option>
            </select>
        </div>
    </div>
</div>
<div class="profile-font-style text-muted" style="margin-top: 12px;font-size: 16px;">
    Total <span class="text-dark">199</span> profile found
</div>
<div class="table-responsive profile-font-style">
    <table class="table border-less prospect-tbl">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Profile Name</th>
            <th scope="col">Profile status</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Registered Date</th>
            <th scope="col">Attended BYB</th>
            <th scope="col">Met</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                   <input class="" type="checkbox" value="">
                </td>
                <td><span class="rounded-circle name-icon" style="">S</span> Name AAA</td>
                <td>Fresh Graduate</td>
                <td>010-345 6789</td>
                <td>21 June 2021</td>
                <td>Yes</td>
                <td>Yes</td>
                <td style="color: #007885;" data-toggle="modal" data-target=".follow-up-modal-lg"> View > </td>
                <td><span class="more-option-icon"></span></td>  
            </tr>
            <tr>
                <td scope="row">
                    <input class="" type="checkbox" value="">
                </td>
                <td><span class="rounded-circle name-icon" style="">A</span> Name AAA</td>
                <td>Fresh Graduate</td>
                <td>010-345 6789</td>
                <td>21 June 2021</td>
                <td> - </td>
                <td> - </td>
                <td style="color: #007885;" data-toggle="modal" data-target=".follow-up-modal-lg"> View > </td>
                <td><span class="more-option-icon"></span></td>
            </tr>     
            <tr>
                <td scope="row">
                    <input class="" type="checkbox" value="">
                </td>
                <td><span class="rounded-circle name-icon" style="">S</span> Name AAA</td>
                <td>Fresh Graduate</td>
                <td>010-345 6789</td>
                <td>21 June 2021</td>
                <td> - </td>
                <td> - </td>
                <td style="color: #007885;" data-toggle="modal" data-target=".follow-up-modal-lg"> View > </td>
                <td><span class="more-option-icon"></span></td>
            </tr>            
        </tbody>
    </table>
</div>

<div class="modal fade follow-up-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0;">
                <div class="modal_close_icon" data-dismiss="modal" aria-label="Close"> &#60; </div>  
                           
            </div>
            <div class="modal-body" style="padding-top: 0;"> 
                <ul class="nav nav-tabs" style="font-size: 24px;">
                    <li class="nav-item">
                        <a  id="profile-tab" class="active nav-link" data-toggle="tab" href="#profile" >Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" >Questionnaire</a>
                    </li>                    
                </ul>
                <!-- Tab panes -->
                <div class="tab-content clearfix profile-font-style" style="padding: 20px 40px;">
                    <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="" style="margin-top: 20px;font-size: 15px;">
                            <h5><span class="rounded-circle name-icon" style="">S</span> Name AAA</h5>
                            <div class="follow-up-profile" style="margin-top: 20px;">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="up-coming-event-info">Mobile No.</span>
                                        <span class="">010 345 6789</span>
                                    </li>
                                    <li>
                                        <span class="up-coming-event-info">Email Address</span>
                                        <span class="">alipapa@gmail.com</span><span class="register-now">Send email</span>
                                    </li>
                                    <li>
                                            <span class="up-coming-event-info">Owned Vehicle</span>
                                            <span class="">Motorcycle</span>
                                        </li>
                                    <li>
                                        <span class="up-coming-event-info">Submitted Date</span>
                                        <span class="">21 May 2021</span>
                                    </li>
                                    <li>
                                        <span class="up-coming-event-info">Channel</span>
                                        <span class="">Facebook</span>
                                    </li>                                    
                                    <li>
                                        <span class="up-coming-event-info">Status</span>
                                        <span class="card-link" style="color: #0DA193;">Application Submitted </span>
                                    </li>
                                   
                                </ul> 
                            </div>     
                            
                            <div class="todo-timeline mb-5">
                                <div class="row">
                                    <div class="col-7">
                                    <h5 class="todo-title">Recruitment Journey</h5>
                                    </div>
                                    <div class="row">
                                    <ul class="v-timeline">
                                        <li class="col">
                                        <span class="v-timeline-icon"></span>
                                        <span class="pl-30 top-bold-label">Onboarded</span>
                                        <p class="pl-30 mid-paragraph">On 01 August 2021</p>
                                        </li>
                                        <li class="col">
                                        <span class="v-timeline-icon"></span>
                                        <span class="pl-30 top-bold-label">Application Approved</span>
                                        <p class="pl-30 mid-paragraph">On 17 July 2021</p>
                                        </li>
                                        <li class="col">
                                        <span class="v-timeline-icon"></span>
                                        <span class="pl-30 top-bold-label">Submitted Application</span>
                                        <p class="pl-30 mid-paragraph">On 16 July 2021</p>
                                        </li>
                                        <li class="col">
                                        <span class="v-timeline-icon"></span>
                                        <span class="pl-30 top-bold-label">Mark as Met</span>
                                        <p class="pl-30 mid-paragraph">On 06 July 2021</p>
                                        <p class="pl-30 mid-paragraph">Remarks:  I think this prospect have high potential to be our agent.</p>
                                        </li>
                                        <li class="col">
                                        <span class="v-timeline-icon"></span>
                                        <span class="pl-30 top-bold-label">Attended to BYB June 2021</span>
                                        <p class="pl-30 mid-paragraph">On 30 June 2021</p>
                                        </li>
                                        <li class="col">
                                        <span class="v-timeline-icon"></span>
                                        <span class="pl-30 top-bold-label">Invited to BYB June 2021</span>
                                        <p class="pl-30 mid-paragraph">On 27 June 2021</p>
                                        </li>
                                        <li class="col">
                                        <span class="v-timeline-icon last-child"></span>
                                        <span class="pl-30 top-bold-label">Submitted Questionnaire</span>
                                        <p class="pl-30 mid-paragraph">On 21 June 2021</p>
                                        </li>        
                                        
                                    </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>
                    <div class="container footer fixed-bottom">
                        <ul class="list-unstyled" style="margin-left: 8%;">
                            <li class="text-muted">Submit Application > </li>
                            <li>Share Materials > </li>
                            <li>Invite to Upcoming BYB > </li>
                            <li>Move to Foolow Up > </li>
                            <li>Move to Not Interested > </li>
                        </ul>
                    </div>
                    </div> 

                    <div class="tab-pane" id="home">
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="">
                            <h5>Profiling Question Details</h5>  
                            <p class="text-muted">Submitted on 21 June 2021</p>

                            <div class="question-container">
                                <p class="question">Current Status</p>
                                <p class="answer">Working</p>

                                <p class="question">Current Income</p>
                                <p class="answer">RM2,100 - RM5,000</p>

                                <p class="question">Current income support your hobby?</p>
                                <p class="answer">No</p>

                                <p class="question">Current income help you to achieve your dream?</p>
                                <p class="answer">Yes</p>

                                <p class="question">Happy with your current status/ lifestyle?</p>
                                <p class="answer">No</p>

                                <p class="question">Want to explore potential of earning more?</p>
                                <p class="answer">Yes</p>

                                <p class="question">Would you be interested to start a small capital business?</p>
                                <p class="answer">Yes, because I want to have an extra income</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>                      
                </div>                
            </div>
        </div>
    </div>
</div>
