<div class="" style="margin: 0 40px 20px 40px;">
    <input type="text" style="height: 45px;" name="search" class="input-lg col-12" placeholder="Search by prospect/agent name"/>
</div>
<nav>
    <ul id="content-nav" class="nav nav-tabs">
        <li class="nav-item" *ngFor="let nav of menuList">
            <a href="javascript:void(0);" class="nav-link">{{nav.menuText}}</a>
        </li>
        <!--<li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Potential Prospect</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Application Submission</a>
        </li> -->
    </ul>
</nav>