<div class="" style="margin: 0 40px 20px 40px;">
    <input type="text" style="height: 45px;" name="search" class="input-lg col-12" placeholder="Search by prospect/agent name"/>
</div>
<nav>
    <ul id="content-nav" class="nav nav-tabs">
        <li class="nav-item" *ngFor="let nav of menuList">
            <a href="javascript:void(0);" class="nav-link">{{nav.menuText}}</a>
        </li>
        <!--<li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Potential Prospect</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Application Submission</a>
        </li> -->
    </ul>
</nav>
<div class="row" style="margin-top: 40px;margin-right: 40px; margin-left: 40px;">

    <div class="" style="width: 100%;">
        <button class="btn btn-info" style="width:49.5%; float: left;">
            <span class="lnr lnr-user"></span> New Prospect</button>
        <button class="btn btn-secondary" style="width:49.5%; margin-left: 12px;" disabled>
                <span class="lnr lnr-upload"></span> Add New Prospect</button>
    </div>

    <div class="row" style="width: 100%;margin-top: 30px;">
        <h2 style="padding-left: 12px;">Statistic for this month</h2>
    </div>
    <div class="cart-container">
        <div class="row text-center">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Registered Prospect</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text">from total 9999<p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prospect Registered for BYB</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text">from total 9999<p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prospect Attended BYB</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text">from total 999<p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Application Submitted</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text">from total 9999<p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Onboarded</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text">from total 9999<p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="up-coming-event" style="margin-top: 30px;width: 100%;">
        <h2>Upcoming BYB Event</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="assets/img/event1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">BYB Event June 2021</h5>
                        <span class="text-muted">Event Date</span>
                        <p class="card-text">01 June 2021, 10am to 11:30am</p>                    
                        <div class="">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="text-muted col-md-6">Registration Start</span>
                                    <span> 01 May 2021, 10am</span>
                                </li>
                                <li>
                                    <span class="text-muted col-md-6">Registration End</span>
                                    <span> 31 May 2021, 5pm</span>
                                </li>
                                <li>
                                    <span class="text-muted col-md-6">type</span>
                                    <span class="col-md-6">Virtual(Zoom)</span>
                                </li>
                                <li>
                                    <span class="text-muted col-md-6">Status</span>
                                    <span class="card-link">Upcoming </span>
                                </li>
                            </ul> 
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="assets/img/event2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">BYB Event June 2021</h5>
                        <span class="text-muted">Event Date</span>
                        <p class="card-text">01 June 2021, 10am to 11:30am</p>                    
                        <div class="">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="text-muted col-md-6">Registration Start</span>
                                    <span> 01 May 2021, 10am</span>
                                </li>
                                <li>
                                    <span class="text-muted col-md-6">Registration End</span>
                                    <span> 31 May 2021, 5pm</span>
                                </li>
                                <li>
                                    <span class="text-muted col-md-6">type</span>
                                    <span class="col-md-6">Virtual(Zoom)</span>
                                </li>
                                <li>
                                    <span class="text-muted col-md-6">Status</span>
                                    <span class="card-link">Upcoming </span>
                                </li>
                            </ul> 
                        </div>       
                    </div>
                </div>
            </div>
        </div>           
    </div>
    
</div>