

.statistic-box .card-title{
    height: 41px;
}
.statistic-box .total-h{
    height: 19px;
}
.col-md-2 {
    width: 20%;
}
.prospect-count {
    color: #0DA193;
}
/*
.up-coming-event .card {
    flex-direction: row;
    align-items: center;
}
*/
.up-coming-event .card img {
    max-height: 200px;
    /*width: 30%; 
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    margin-left: 20px; */
}

.up-coming-event .card-title {
    /*font-weight: bold; */
}
.up-coming-event .card-img-top {
   /* height: 204px;
    width: 108px;
    width: 100%;*/
}

.up-coming-event .e-font-style {
    font-family: sans-serif;
}
.up-coming-event-info {
    padding: 0;
    width: 141px;
    display: inline-block;
}