
<div class="" style="">

    <div class="row" style="">
        <div class="col-md-6">
            <button class="btn btn-info col-md-12" style="">
                <span class="lnr lnr-user"></span> Add New Prospect</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-secondary col-md-12" style="" disabled>
                <span class="lnr lnr-upload"></span> Submit Recruitment Application</button>
        </div>
    </div>

    <div class="row" style="width: 100%;margin-top: 40px;">
        <h2 style="padding-left: 12px;">Statistic for this month</h2>
    </div>
    <div class="cart-container">
        <div class="row text-center statistic-box">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Registered Prospect</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text total-h">from total 9999</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prospect Registered for BYB</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text total-h"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prospect Attended BYB</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text total-h"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Application Submitted</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text total-h">from total 999</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Onboarded</h5>
                        <h1 class="card-text prospect-count">99</h1>
                        <p class="card-text total-h">from total 9999</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="up-coming-event" style="margin-top: 40px;width: 100%;">
        <h2>Upcoming BYB Event  
            <a class="heading e-font-style" href="#" style="margin-left: 20px;font-size: 16px;color: #007885;">
                <small>View all > </small>
            </a>
        </h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="assets/img/event3.jpeg" alt="Card image cap">
                    <div class="card-body e-font-style">
                        <h4 class="card-title">BYB Event June 2021 
                            <a class="heading pull-right" href="#">
                                <small> > </small>
                            </a>
                        </h4>
                        <span class="text-muted">Event Date</span>
                        <p class="card-text">01 June 2021, 10am to 11:30am</p>                    
                        <div class="">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration Start</span>
                                    <span class="">01 May 2021, 10am</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration End</span>
                                    <span class="">31 May 2021, 5pm</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">type</span>
                                    <span class="">Virtual(Zoom)</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Status</span>
                                    <span class="card-link" style="color: #0DA193;">Open for Registration</span>
                                </li>
                            </ul> 
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="assets/img/event4.jpeg" alt="Card image cap">
                    <div class="card-body e-font-style">
                        <h4 class="card-title">BYB Event June 2021
                            <a class="heading pull-right" href="#">
                                    <small> > </small>
                            </a>
                        </h4>
                        <span class="text-muted">Event Date</span>
                        <p class="card-text">01 June 2021, 10am to 11:30am</p>                    
                        <div class="">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration Start</span>
                                    <span class="">01 May 2021, 10am</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration End</span>
                                    <span class="">31 May 2021, 5pm</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">type</span>
                                    <span class="">Virtual(Zoom)</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Status</span>
                                    <span class="card-link" style="color: #F7941E;">Upcoming </span>
                                </li>
                            </ul> 
                        </div>       
                    </div>
                </div>
            </div>
        </div>           
    </div>
    
    <div class="up-coming-event-demo-rm" style="margin-top: 40px;width: 100%;"></div>
    
</div>