<nav>
    <ul id="content-nav" class="nav nav-tabs">
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link active">Upcoming</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Passed</a>
        </li>        
    </ul>
</nav>

<div class="row" style="margin: 40px;">
    <div class="up-coming-event" style="width: 100%;">        
        <div class="row">
            <div class="col-md-6">
                <div class="card activity-card">
                    <img class="card-img-top" src="assets/img/event3.jpeg" alt="Card image cap">
                    <div class="card-body e-font-style">
                        <h4 class="card-title">BYB Event June 2021 </h4>                                          
                        <div class="">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="text-muted up-coming-event-info">Event Date</span>
                                    <span class="">01 June 2021, 10am to 11:30am</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration Start</span>
                                    <span class="">01 May 2021, 10am</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration End</span>
                                    <span class="">31 May 2021, 5pm</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">type</span>
                                    <span class="">Virtual (Zoom)</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Status</span>
                                    <span class="card-link" style="color: #0DA193;">Open for Registration</span>
                                </li>
                                <li>
                                    <h4><a class="heading pull-right details_link" href="#">
                                        <small> > </small>
                                    </a></h4>
                                </li>
                            </ul> 
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card activity-card">
                    <img class="card-img-top" src="assets/img/event4.jpeg" alt="Card image cap">
                    <div class="card-body e-font-style">
                        <h4 class="card-title">BYB Event June 2021 </h4>                                      
                        <div class="">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="text-muted up-coming-event-info">Event Date</span>
                                    <span class="">01 June 2021, 10am to 11:30am</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration Start</span>
                                    <span class="">01 May 2021, 10am</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Registration End</span>
                                    <span class="">31 May 2021, 5pm</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">type</span>
                                    <span class="">Virtual (Zoom)</span>
                                </li>
                                <li>
                                    <span class="text-muted up-coming-event-info">Status</span>
                                    <span class="card-link" style="color: #F7941E;">Upcoming </span>
                                </li>
                                <li>
                                    <h4><a class="heading pull-right details_link" href="#">
                                        <small> > </small>
                                    </a></h4>
                                </li>
                            </ul> 
                        </div>       
                    </div>
                </div>
            </div>
        </div>           
    </div>
    
    <div class="up-coming-event-demo-rm" style="margin-top: 40px;width: 100%;"></div>
</div>