<div class="row wrapper">
    <div class="login-bg col-md-6">
        <img src="./assets/img/logo-white.png" class="logo">
    </div>
  
    <div class="login-section col-md-6" style="height: 100vh;">
  
        <div class="login-section-inner-wrapper">
            <img src="./assets/img/Logo.png" class=" logo-mobile">
  
            <h3 class="page-title">Welcome to <span class="higlight">FERA</span></h3>
            <p class="caption">Hope you have a great experience with us!</p>
        </div>
  
        <router-outlet></router-outlet>
  
        <div class="login-section-inner-wrapper-bottom" style="position: fixed; bottom: 0;">
          <p class="bold margin">Important Note</p>
  
          <p class="foot-note">
              Use of this system is restricted to individuals and activities authorized by the management of the
              Etiqa Insurance & Takaful. Unauthorized use may result in the appropriate disciplinary action and/or
              legal prosecution.
          </p>
        </div>
    </div>
  </div>