<ul id="content-head-menu" class="nav nav-pills">
    <li class="nav-item content-tab"><a [routerLink]="['/backoffice/content/byb']" class="nav-link">BYB</a></li>
    <li class="nav-item content-tab"><a [routerLink]="['/backoffice/content/script-guide']" class="nav-link">Script Guide</a></li>
    <li class="nav-item content-tab"><a [routerLink]="['/backoffice/content/faq']" class="nav-link">FAQ</a></li>
    <!-- <li class="nav-item"><a href="#" class="nav-link">Event</a></li> -->
</ul>

<router-outlet></router-outlet>