
<div class="container">
    <header>
            <h3>Profiling Question</h3>
    </header>
    <div class="steper-container" style="display: none;">
        <ul class="progressbar">
            <li class="active">
                Mobile Details
                <div> Test </div>
            </li>
            <li class="active">Upload <div> Test </div> </li>
            <li>Payment <div> Test </div> </li>
        </ul> 
    </div>
    <ul class="nav nav-tabs" style="font-size: 24px;">
        <li class="nav-item">
            <a class="active nav-link" id="home-tab" data-toggle="tab" href="#home" >1. Know you better</a>
        </li> 
        <li class="nav-item">
            <a  id="profile-tab" class="nav-link" data-toggle="tab" href="#profile" >2. Personal Details</a>
        </li>
                          
    </ul>
    <!-- Tab panes -->
    <div class="tab-content clearfix profile-font-style" style="padding: 20px 40px;">
           
        <div class="tab-pane active" id="home">
            <div class="row">
                <div class="col-sm-12">
                    <div class="welcome-msg">

                    </div>                
                    <h5>Getting to know you</h5>  
                    <p class="text-muted" style="font-size: 14px;">This form is intended to get to know you better as a person.</p>
                    <h5 style="color: #F15A22;font-size: 16px;padding: 15px 0;">*Mandatory</h5>
                    <div class="question-container">
                        
                <div class="ques-ans">
                    <p class="list-heading">1. Select your Current Status <span class="star">*</span></p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="current_status" id="radio11">
                                <label class="form-check-label" for="radio11">
                                   Final Year Student/Fresh Graduate
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_status" id="radio12">
                                <label class="form-check-label" for="radio12">
                                    Working
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_status" id="radio13">
                                <label class="form-check-label" for="radio13">
                                    Self Employed/Business Owner
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                    <div class="ques-ans">
                    <p class="list-heading">2. Please share your current income </p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio21">
                                <label class="form-check-label" for="radio21">
                                    No income as yet
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio22">
                                <label class="form-check-label" for="radio22">
                                        Below RM2,000
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio23">
                                <label class="form-check-label" for="radio23">
                                        RM2,001 - RM5,000
                                </label>
                            </div>
                        </li>                    
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio24">
                                <label class="form-check-label" for="radio24">
                                        RM5,001 - RM8,000
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio25">
                                <label class="form-check-label" for="radio25">
                                        Above RM8,000
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                    <div class="ques-ans">
                        <p class="list-heading">3. Does your current income support your hobby? </p>
                        <ul class="list-unstyled"> 
                            <li><div class="form-check">
                                    <input class="form-check-input" type="radio" name="hobby" id="radio31">
                                    <label class="form-check-label" for="radio31">
                                    Yes
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hobby" id="radio32">
                                    <label class="form-check-label" for="radio32">
                                        No
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hobby" id="radio33">
                                    <label class="form-check-label" for="radio33">
                                            I am not sure
                                    </label>
                                </div>
                            </li>
                            </ul>
                        </div>

                    <div class="ques-ans">
                        <p class="list-heading">4. Does your current income help you to achieve your dream? </p>
                        <ul class="list-unstyled"> 
                            <li><div class="form-check">
                                    <input class="form-check-input" type="radio" name="dream" id="radio41">
                                    <label class="form-check-label" for="radio41">
                                    Yes
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dream" id="radio42">
                                    <label class="form-check-label" for="radio42">
                                        No
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dream" id="radio43">
                                    <label class="form-check-label" for="radio43">
                                            I am not sure
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="ques-ans">
                    <p class="list-heading">5. Are you happy with your current status/ lifestyle? </p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="lifestyle" id="radio51">
                                <label class="form-check-label" for="radio51">
                                Yes
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lifestyle" id="radio52">
                                <label class="form-check-label" for="radio52">
                                    No
                                </label>
                            </div>
                        </li>
                        <li>
                
                    </ul>
                </div>

                <div class="ques-ans">
                        <p class="list-heading">6. Would you want to explore potential of earning more? </p>
                        <ul class="list-unstyled"> 
                            <li><div class="form-check">
                                    <input class="form-check-input" type="radio" name="potential" id="radio61">
                                    <label class="form-check-label" for="radio61">
                                    Yes
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="potential" id="radio62">
                                    <label class="form-check-label" for="radio62">
                                        No
                                    </label>
                                </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ques-ans">
                        <p class="list-heading">7. Would you be interested to start a small capital business?</p>
                        <ul class="list-unstyled"> 
                            <li><div class="form-check">
                                    <input class="form-check-input" type="radio" name="capital business" id="radio71">
                                    <label class="form-check-label" for="radio71">
                                            Yes, because I want to have an extra income
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="capital business" id="radio72">
                                    <label class="form-check-label" for="radio72">
                                            Yes, because I want to leave a legecy
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="capital business" id="radio73">
                                    <label class="form-check-label" for="radio73">
                                            Yes, because I have no option (unemployed)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="capital business" id="radio74">
                                    <label class="form-check-label" for="radio74">
                                            No, because I am not business minded
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                      
                    </div>               
                </div>
            </div>
        </div>        
       
        <div class="tab-pane" id="profile">
        <div class="row">
            <div class="col-sm-12">
            <div class="" style="margin-top: 20px;font-size: 15px;">
                <h5><span class="rounded-circle name-icon" style="">S</span> Name AAA</h5>
                <div class="follow-up-profile" style="margin-top: 20px;">
                    <ul class="list-unstyled">
                        <li>
                            <span class="up-coming-event-info">Mobile No.</span>
                            <span class="">010 345 6789</span>
                        </li>
                        <li>
                            <span class="up-coming-event-info">Email Address</span>
                            <span class="">alipapa@gmail.com</span><span class="register-now">Send email</span>
                        </li>
                        <li>
                                <span class="up-coming-event-info">Owned Vehicle</span>
                                <span class="">Motorcycle</span>
                            </li>
                        <li>
                            <span class="up-coming-event-info">Submitted Date</span>
                            <span class="">21 May 2021</span>
                        </li>
                        <li>
                            <span class="up-coming-event-info">Channel</span>
                            <span class="">Facebook</span>
                        </li>                                    
                        <li>
                            <span class="up-coming-event-info">Status</span>
                            <span class="card-link" style="color: #0DA193;">Application Submitted </span>
                        </li>
                       
                    </ul> 
                </div> 

            </div>
            </div>
        </div>                   
        </div> 

                     
    </div>         
</div>