
<div class="container survey">
    <header class="row" style="padding: 30px;">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center" style="font-size: 20px;">Profiling Question</div>
        <div class="col-md-4">                
            <span class="pull-right">Language <select name="my-select" class="" [(ngModel)]="profileLang" (change)="selectLang()" style="padding: 5px;
            border-radius: 5px;font-size: 11px;">
                <option [value]="item.id" *ngFor="let item of data" class="dropdown-item">
                    {{item.name}}
                </option>
            </select>
            </span>               
        </div>
    </header>
    <ul class="nav nav-tabs progressbar" style="font-size: 24px;">
        <li class="active bar-style"></li>
        <li class="nav-item">
            <a class="active nav-link" id="home-tab" data-toggle="tab" href="#home" >1. Know you better</a>
        </li> 
        <li class="nav-item">
            <a  id="profile-tab" class="nav-link" data-toggle="tab" href="#profile" >2. Personal Details</a>
        </li>
        <li></li>                          
    </ul>
    <!-- Tab panes -->
    <div class="tab-content clearfix profile-font-style" style="padding: 20px 40px;">
           
        <div class="tab-pane active" id="home">
            <div class="row">
                <div class="col-sm-12">
                    <div class="welcome-msg row">
                        <div class="intro-img pull-left col-md-1">
                            <img class="rounded-circle" src="assets/img/user.jpg" style="width: 53px;">
                        </div>
                        <div class="into-content col-md-11">
                            <span>Welcome there, my name is <span>Leader ABC</span></span> <br/>                         
                            <span style="font-size: 14px;color: #0DA193;">Thank you for participating in this simple profiling question and it only take less than 2 minutes of your time</span>
                        </div>
                    </div>                
                    <h5>Getting to know you</h5>  
                    <p class="text-muted" style="font-size: 14px;">This form is intended to get to know you better as a person.</p>
                    <h5 style="color: #F15A22;font-size: 16px;padding: 15px 0;">*Mandatory</h5>
                    <div class="question-container">
                        
                <div class="ques-ans">
                    <p class="list-heading">1. Select your Current Status <span class="star">*</span></p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="current_status" id="radio11">
                                <label class="form-check-label" for="radio11">
                                   Final Year Student/Fresh Graduate
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_status" id="radio12">
                                <label class="form-check-label" for="radio12">
                                    Working
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current_status" id="radio13">
                                <label class="form-check-label" for="radio13">
                                    Self Employed/Business Owner
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                    <div class="ques-ans">
                    <p class="list-heading">2. Please share your current income </p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio21">
                                <label class="form-check-label" for="radio21">
                                    No income as yet
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio22">
                                <label class="form-check-label" for="radio22">
                                        Below RM2,000
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio23">
                                <label class="form-check-label" for="radio23">
                                        RM2,001 - RM5,000
                                </label>
                            </div>
                        </li>                    
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio24">
                                <label class="form-check-label" for="radio24">
                                        RM5,001 - RM8,000
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="current income" id="radio25">
                                <label class="form-check-label" for="radio25">
                                        Above RM8,000
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                    <div class="ques-ans">
                        <p class="list-heading">3. Does your current income support your hobby? </p>
                        <ul class="list-unstyled"> 
                            <li><div class="form-check">
                                    <input class="form-check-input" type="radio" name="hobby" id="radio31">
                                    <label class="form-check-label" for="radio31">
                                    Yes
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hobby" id="radio32">
                                    <label class="form-check-label" for="radio32">
                                        No
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hobby" id="radio33">
                                    <label class="form-check-label" for="radio33">
                                            I am not sure
                                    </label>
                                </div>
                            </li>
                            </ul>
                        </div>

                    <div class="ques-ans">
                        <p class="list-heading">4. Does your current income help you to achieve your dream? </p>
                        <ul class="list-unstyled"> 
                            <li><div class="form-check">
                                    <input class="form-check-input" type="radio" name="dream" id="radio41">
                                    <label class="form-check-label" for="radio41">
                                    Yes
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dream" id="radio42">
                                    <label class="form-check-label" for="radio42">
                                        No
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dream" id="radio43">
                                    <label class="form-check-label" for="radio43">
                                            I am not sure
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="ques-ans">
                    <p class="list-heading">5. Are you happy with your current status/ lifestyle? </p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="lifestyle" id="radio51">
                                <label class="form-check-label" for="radio51">
                                Yes
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lifestyle" id="radio52">
                                <label class="form-check-label" for="radio52">
                                    No
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ques-ans">
                    <p class="list-heading">6. Would you want to explore potential of earning more? </p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="potential" id="radio61">
                                <label class="form-check-label" for="radio61">
                                Yes
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="potential" id="radio62">
                                <label class="form-check-label" for="radio62">
                                    No
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ques-ans">
                    <p class="list-heading">7. Would you be interested to start a small capital business?</p>
                    <ul class="list-unstyled"> 
                        <li><div class="form-check">
                                <input class="form-check-input" type="radio" name="capital business" id="radio71">
                                <label class="form-check-label" for="radio71">
                                        Yes, because I want to have an extra income
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="capital business" id="radio72">
                                <label class="form-check-label" for="radio72">
                                        Yes, because I want to leave a legecy
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="capital business" id="radio73">
                                <label class="form-check-label" for="radio73">
                                        Yes, because I have no option (unemployed)
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="capital business" id="radio74">
                                <label class="form-check-label" for="radio74">
                                        No, because I am not business minded
                                </label>
                            </div>
                        </li>
                    </ul>
                    </div>
                      
                    </div>               
                </div>
                <button type="submit" class="btn continue-btn">Continue</button>
            </div>
        </div>        
       
        <div class="tab-pane" id="profile">
        <div class="row">
            <div class="col-sm-12">
            <div class="" style="margin-top: 20px;font-size: 15px;">
                <!--<h5><span class="rounded-circle name-icon" style="">S</span> Name AAA</h5> -->
                <h5>Your personal details</h5>  
                <p class="text-muted" style="font-size: 14px;">Please fill up following filed for us to keep ypu updated!</p>
                <h5 style="color:#F15A22;font-size: 16px;padding: 15px 0;">*Mandatory</h5>
                <div class="follow-up-profile" style="margin-top: 20px;">
                    <form>
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Name<span class="star">*</span></label>
                            <input type="text" class="form-control col-md-6" id="inputName" aria-describedby="">                            
                        </div>
                        <div class="mb-3 input-group">
                            <label for="mobile" class="form-label  col-md-12" style="padding-left: 0;">Mobile No.<span class="star">*</span></label>
                            <input type="text" class="form-control form-group col-md-1" id="mobile_code"><span>-</span>
                            <input type="text" class="form-control form-group col-md-4" id="mobile">                            
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email address<span class="star">*</span></label>
                            <input type="email" class="form-control col-md-6" id="inputEmail1" aria-describedby="emailHelp">                            
                        </div>
                        <div class="mb-3 vehicle">
                            <label for="vehicle" class="form-label">Vehicle that you own<span class="star">*</span></label>                            
                            <ul class="list-unstyled"> 
                                <li><div class="form-check">
                                        <input class="form-check-input" type="radio" name="dream" id="vehicle1">
                                        <label class="form-check-label" for="vehicle1">
                                        Car
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="dream" id="vehicle2">
                                        <label class="form-check-label" for="vehicle2">
                                            Motorcycle
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="dream" id="vehicle3">
                                        <label class="form-check-label" for="vehicle3">
                                            I don't have any vehicle
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn">
                            <button type="button" class="btn btn-outline-dark back-btn">Back</button>
                            <button type="submit" class="btn smt-btn">Submit</button>
                        </div>
                    </form>
                </div> 
            </div>
            </div>
        </div>                   
        </div>       
    </div>         
</div>